.home {
    width: 100vw;
}
.home__section {
    display: flex;
    overflow-x: scroll;
    justify-content: center;
}

.home__section::-webkit-scrollbar {
    height: .6rem;
}

.home__section::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 6px;
}