.home__section {
    display: flex;
    overflow-x: scroll;
    width: fit-content;
}

.home__container {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    justify-content: center;
}

.home__section::-webkit-scrollbar {
    height: .25rem;
}

.home__section::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 6px;
}