.searchPage__info {
    padding: .5rem;
}

.searchPage__info > * {
    margin: 1rem;
}

.searchPage__info > button {
    border-radius: 1.25rem;
    text-transform: inherit;
    transform: inherit;
    margin: .25rem .5rem;
    background-color: #ffffff;
    color: #000000;
    border-color: #c0c0c0;
}

.searchPage__info > button:hover {
    background-color: #c9c9c9;
    color: #000000;
    border-color: #c0c0c0;
}

.searchPage__results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
    width: 100%;
}

@media(max-width: 47rem){

    .searchPage__results {
        margin: .5rem 0rem;
    }
}