.card {
    margin: 1rem;
    max-width: 28rem;
    min-width: 10rem;
    height: 40rem;
    background-color: red;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
}

.card__img {
    object-fit: cover;
    height: 60%;
    width: 100%;
    border-radius: .5rem .5rem 0rem 0rem;
}

.card__info {
    margin: 1rem;
}