.footer {
    display: flex;
    flex-direction: column;
    padding: 2rem 0 5rem;
    background-color: rgb(233, 233, 233);
    margin: 1rem 0 0;
}

.footer__container {
    display: flex;
    justify-content: center;
    font-size: 1.15rem;
    font-weight: bold;
}

.footer__item {
    margin: 1rem;
    color: #000000;
}

#copyright {
    font-weight: bold;
}